.New
  = form_for(resource, as: resource_name, html: {class:"Edit__Form"}, url: registration_path(resource_name)) do |f|
    %h2 新規登録
    = render "devise/shared/error_messages", resource: resource
    .New__Content
      .New__Content__Title
        name
        = f.text_field :name, autofocus: true, class: "New__Content__Form"
    .New__Content
      .New__Content__Title
        email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "New__Content__Form"
    .New__Content
      .New__Content__Title
        password(6文字以内)
        = f.password_field :password, autocomplete: "new-password", class: "New__Content__Form"
    .New__Content
      .New__Content__Title
        password(確認用)
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "New__Content__Form"
    = f.submit "新規登録", class: "New__Submit"
    = render "devise/shared/links"
