.Wrapper

  .Main
    .List
      .List__Date
        日付
      .List__StartTime
        開始時間
      .List__EndTime
        終了時間
      .List__ElapsedTime
        経過時間
      .List__MajorClass
        会社名
      .List__MiddleClass
        分類
      .List__SmallClass
        詳細

    .Item
      - @records.each do |record|
        .Item__Box
          .Item__Date
            = record.date.strftime("%Y/%m/%d")
          .Item__StartTime
            = record.start_time.strftime("%H:%M")
          .Item__EndTime
            = record.end_time.strftime("%H:%M")
          .Item__ElapsedTime
            1:00
          .Item__MajorClass
            = record.class1
          .Item__MiddleClass
            = record.class2
          .Item__SmallClass
            = record.class3
          .Item__edit
            = link_to '編集',edit_record_path(record.id), method: :get

  
    = form_with model:@record, html: {class:"Form"}, local: true do |f|
      .Form__Item
        = f.date_field :date, class: "Form__Date"
        = f.time_field :start_time, class: "Form__StartTime"
        = "〜"
        = f.time_field :end_time, class: "Form__EndTime"
        = f.text_field :class1, class: "Form__MajorClass", placeholder: "会社名"
        = f.text_field :class2, class: "Form__MiddleClass", placeholder: "分類"
        = f.text_field :class3, class: "Form__SmallClass", placeholder: "詳細"
      = f.submit 'SEND', class: "Form__Submit"