.Wrapper
  -if user_signed_in?
    .Main
      .List
        .List__StartTime
          開始日時
        .List__EndTime
          終了日時
        .List__ElapsedTime
          経過時間
        .List__MajorClass
          分類
        .List__MiddleClass
          内容
        .List__SmallClass
          備考

      .Item
        - @records.each do |record|
          .Item__Box
            .Item__StartTime
              = record.start_time.strftime("%Y/%m/%d%H:%M")
            .Item__EndTime
              = record.end_time.strftime("%Y/%m/%d%H:%M")
            .Item__ElapsedTime
              - elapsed_seconds = (record.end_time - record.start_time)
              = (Time.parse("1/1") + elapsed_seconds - (elapsed_seconds.to_i / 86400) * 86400).strftime("%H:%M")
            .Item__MajorClass
              = record.class1
            .Item__MiddleClass
              = record.class2
            .Item__SmallClass
              = record.class3
            .Item__Edit
              = link_to edit_record_path(record.id) do
                = icon('fas', 'pen')

    
      = form_with model:@record, html: {class:"Form"}, local: true do |f|
        .Form__Item
          = f.datetime_select :start_time, class: "Form__StartTime", use_month_numbers:true, date_separator:'/', :datetime_separator => '', :start_year => Time.now.year - 1, :end_year => Time.now.year + 1
          = "〜"
          = f.datetime_select :end_time, class: "Form__EndTime", use_month_numbers:true, date_separator:'/', :datetime_separator => '', :start_year => Time.now.year - 1, :end_year => Time.now.year + 1
          = f.text_field :class1, class: "Form__MajorClass", placeholder: "会社名"
          = f.text_field :class2, class: "Form__MiddleClass", placeholder: "分類"
          = f.text_field :class3, class: "Form__SmallClass", placeholder: "詳細"
        = f.submit 'SEND', class: "Form__Submit"
  - else
    = link_to "ログイン",new_user_session_path ,class:"post"
    = link_to "新規登録",new_user_registration_path ,class:"post"