.New
  = form_for(resource, as: resource_name, html: {class:"Edit__Form"}, url: session_path(resource_name)) do |f|
    %h2 ログイン
    .New__Content
      .New__Content__Title
        email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "New__Content__Form"
    .New__Content
      .New__Content__Title
        password
        = f.password_field :password, autocomplete: "current-password", class: "New__Content__Form"
    = f.submit "ログイン", class: "New__Submit"
    = render "devise/shared/links"
