%h1 メモ
%ul
  - @memos.each do |memo|
    %li
      = memo.title
      = memo.content
      = link_to edit_memo_path(memo.id) do
        = icon('fas', 'pen')
      = link_to memo_path(memo.id), method: :delete, data: {confirm: "are you sure?"} do
        = icon('fas', 'trash')
%p= link_to "新規作成", new_memo_path