!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WithWork
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .Header
        .Header__TitleBar
          %h1.Header__TitleBar__Title
            = image_tag 'WithWork-logo.png', :size => '180x55'
          -if user_signed_in?
            %p.Header__TitleBar__User
              = current_user.name
        .Header__LinkBar
          %p.Header__LinkBar__countent
            = link_to image_tag('WorkRecord-logo.png', :size => '140x20'), records_path, class: "countent"
          %p.Header__LinkBar__countent
            = link_to image_tag('TODO-logo.png', :size => '80x20'), projects_path, class: "countent"
          %p.Header__LinkBar__countent
            = link_to image_tag('memo-logo.png', :size => '95x20'), memos_path, class: "countent"
    = yield

